<?xml version="1.0"?>
<config>
    <modules>
        <MobWeb_AddImageToProductGrid>
            <version>0.1.0</version>
        </MobWeb_AddImageToProductGrid>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>MobWeb_AddImageToProductGrid_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <catalog_product_edit_tab_related>MobWeb_AddImageToProductGrid_Block_Catalog_Product_Edit_Tab_Related</catalog_product_edit_tab_related>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>